extends ./layout2

block vars
  - var keywords = 'сцена звук світло, оренда сцени, монтаж сцени, забезпечення світловими ефектами, встановлення звуку, подіуми різних розмірів, подіуми, сцени різних розмірів, оренда світла, ореда звуку, озвучення, освітлення, побудова сцени, технічне забезпечення концертних заходів, технічне забезпечення концертів, технічне забезпечення масових заходів.'
  - var description = 'Сцена звук світло. Технічне забезпечення концертних заходів, забезпечення світловими ефектами, встановлення звуку. Озвучення концерту, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика, оренда сцени, монтаж сцени, подіуму, і т.д.'
  - var title = 'Оренда акустичних систем та блоків підсилення потужності - Вест Саунд - Сцена Звук Світло'

block content
    .wrapper-page.wrapper-page-turnstile
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title Оренда акустичних систем та блоків підсилення потужності
                .gradient-line
                table.table.table-striped.table-bordered
                    tbody
                        tr
                            td Акустичні сателіти Mag MD15
                            td 4 шт
                        tr
                            td Акустичні сателіти 12”
                            td 6 шт
                        tr
                            td Акустичні сателіти 15”
                            td 6 шт
                        tr
                            td Акустичні сателіти суби
                            td 6 шт
                        tr
                            td Монітори	
                            td 20 шт
                        tr
                            td Блок підсилення
                            td 20 шт
                        tr
                            td(colspan="2") Підсилення, 2*1250 Вт
                        tr
                            td(colspan="2") Мікшерний пульт, 2...8 каналів
                        tr
                            td(colspan="2") CD дека
                        tr
                            td(colspan="2") МD дека
                        tr
                            td(colspan="2") Мікрофони, шнур.
                        tr
                            td(colspan="2") радіо.(низькочастотні)
                        tr
                            td(colspan="2") Мікрофони, радіо.(високочастотні)
                        tr
                            td(colspan="2") Мікрофони, радіо.(завушна гарнітура)
                        tr
                            td(colspan="2") Стійки до акустики
                        tr
                            td(colspan="2") Стійки до мікрофонів
                p.text-default Вартість робіт складає 20-50% від загальної вартості замовлення. Вартість доставки залежить від об’єму Вартість бек-лайну вираховується окремо згідно виставленого райдера. Остаточна ціна буде сформована при особистому контакті з замовником враховуючи всі деталі конкретного замовлення чи проекту.
                p.text-default 
                    | за більш детальною інформацією звертайтесь 
                    span 0672756545 
                    |або 
                    a.link.contactlink(href="/#contact") Наші контакти