extends ./layout2

block vars
  - var keywords = 'сцена звук світло, оренда сцени, монтаж сцени, забезпечення світловими ефектами, встановлення звуку, подіуми різних розмірів, подіуми, сцени різних розмірів, оренда світла, ореда звуку, озвучення, освітлення, побудова сцени, технічне забезпечення концертних заходів, технічне забезпечення концертів, технічне забезпечення масових заходів.'
  - var description = 'Сцена звук світло. Технічне забезпечення концертних заходів, забезпечення світловими ефектами, встановлення звуку. Озвучення концерту, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика, оренда сцени, монтаж сцени, подіуму, і т.д.'
  - var title = 'Концертне світлове обладнання - Вест Саунд - Сцена Звук Світло'


block content
    .wrapper-page.wrapper-page-concertEquipment
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title 
                    | Концертне світлове обладнання
                    br
                    span
                        | Якісне світлове обладнання
                .gradient-line
                h2.head.text-center Оренда світлового обладнання, освітлення сцени та інтер'єрне оформлення для організації святкових подій.
                br
                h3.text-default.text-center
                    | Правильно розставлене 
                    strong світлове обладнання 
                    | необхідне для створення гідного заходу - концерту, корпоративного вечора, дня міста або рекламної акції, а для деяких шоу забезпечення світловими ефектами є запорукою вдалої організації святкового настрою. За рахунок сучасного світлого обладнання створюється атмосфера напівтемряви, яка заворожує кольоровими рухомими променями. Компанія 
                    em "Westsound" 
                    | пропонує професійне 
                    strong світлове обладнання в оренду.
                div#carouselExampleControls.carousel.slide(data-ride="carousel", data-interval="3000")
                    div.carousel-inner(role="listbox")
                        div.carousel-item.active
                            img.d-block(src="images/concert1.jpg", style='width:100%;', alt="Світлове обладнання в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert2.jpg", alt="Вест Саунд - Сцена, Звук, Світло")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert3.jpg", alt="Оренда світла")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert4.jpg", alt="Світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert5.jpg", alt="Освітлення")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert6.jpg", alt="Освітлення сцени")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert7.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert8.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert9.jpg", alt="Освітлення концертів")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert10.jpg", alt="Мультимедіа шоу")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert11.jpg", alt="Освітлення дискотек")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert12.jpg", alt="Світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert13.jpg", alt="Освітлення концертів")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert14.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert15.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert16.jpg", alt="Професійне світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert17.jpg", alt="Якісне світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert18.jpg", alt="Світлове обладнання в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert19.jpg", alt="Світлова апаратура в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert20.jpg", alt="Світлове обладнання в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert21.jpg", alt="Світлова оапаратура")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert22.jpg", alt="Оренда світла")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/concert23.jpg", alt="Світлове обладнання в оренду")
            .row-fluid
                button.btn.btn-default(onclick="goBack()") Повернутись