extends ./layout2

block content
    .wrapper-page.gallery-page
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title галерея
                .gradient-line
                .section-gallery.container#gallery
                    #instafeed.row.gallery.wrapper-gallery
           

script(src="js/instafeed.min.js")
script(src="js/magnific.min.js")
script(src="js/instascript2.js")
