nav(class="navbar navbar-toggleable-md navbar-light bg-faded", id="navbar", style="background: transparent")
    button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation", onclick="toggleHeaderNavBar()")
        span.navbar-toggler-icon
    a.navbar-brand.logo-mobile(href="#top")
        img(src="images/logo.png")
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto#menu
            li.nav-item.logo-desktop
                a(href="#top")
                    img(src="images/logo.png")
            li.nav-item#menu1
                a.nav-link(href="#service", onclick="selectMenuItem()") послуги
            li.nav-item#menu2
                a.nav-link(href="#aboutus") про нас
            li.nav-item#menu3
                a.nav-link(href="#equipment") обладнання
            li.nav-item#menu4
                a.nav-link(href="#gallery") фото
            li.nav-item#menu5
                a.nav-link(href="#clients") клієнти
            li.nav-item#menu6
                a.nav-link(href="#contact") контакти
            li.nav-item
                div.nav-link.social
                    .icon.youtube
                        a(style="display: block; width: 100%; height: 100%", href="https://www.youtube.com/channel/UCtnVmuSYdtb9DLirUyMc_JA" target="_blank")
                    .icon.facebook
                        a(style="display: block; width: 100%; height: 100%", href="https://www.facebook.com/groups/westsoundlviv/?fref=ts" target="_blank")
                    .icon.instagram
                        a(style="display: block; width: 100%; height: 100%", href="https://www.instagram.com/westsoundlviv/" target="_blank")