nav(class="navbar navbar-toggleable-md navbar-light bg-faded", id="navbar")
    button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    a.avbar-brand.logo-mobile(href="#")
        img(src="images/logo.png")
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto#menu
            li.nav-item.logo-desktop
                a(href="#top")
                    img(src="images/logo.png")
            li.nav-item#menu1
                a.nav-link(href="#service") послуги
            li.nav-item#menu2
                a.nav-link(href="#aboutus") про нас
            li.nav-item#menu3
                a.nav-link(href="#equipment") обладнання
            li.nav-item#menu4
                a.nav-link(href="#gallery") фото
            li.nav-item#menu5
                a.nav-link(href="#clients") клієнти
            li.nav-item#menu6
                a.nav-link(href="#contact") контакти
            li.nav-item
                a.nav-link.social
                    img.socIcon(src="images/youtube.png")
                a.nav-link.social
                    img.socIcon(src="images/facebook.png")
                a.nav-link.social
                    img.socIcon(src="images/instagram.png")
                button.btn.btn-primary test