extends ./layout

block content  
  .wrapper-page
    a.callButton(href="tel:0672756545")
      .call-icon
    a.scrollToTop(href="#") вгору
    section.cmp-main.mask
      .section-fullscreen.container#top
      .container.text-center.main-text
        h3.tagline гучне втілення
        h3.tagline яскравих ідей

    section.cmp-services
      .section-services.container#service
        .service-content
          .row
            .col-12
              h1.text-center.title послуги
              p.text-default.text-center West-sound - повне технічне забезпечення вашого заходу. 
                br 
                | Ми потурбуємось усіма аспектами вашого шоу.
              .gradient-line
          .row.wrapper-services
            .col-xs-12.col-sm-6.col-lg-3(onclick="navigateToSound()")
              img.img-circle(src="images/sound.png")
              p.item звук
              p.text-default Компанія West Sound пропонує послуги професійного звукозабезпечення будь-яких масштабів. Будь ласка, зв'яжіться з нами, щоб отримати інформацію щодо Вашого проекту сьогодні.
            .col-xs-12.col-sm-6.col-lg-3(onclick="navigateToLight()")
              img.img-circle(src="images/light.png")
              p.item світло
              p.text-default Компанія West Sound пропонує професійне світлове обладнання, що створить неповторну атмосферу Вашого заходу. Зв'яжіться з нами сьогодні, щоб ми розробили пропозицію якомога скоріше.
            .col-xs-12.col-sm-6.col-lg-3(onclick="navigateToScene()")
              img.img-circle(src="images/scene.png")
              p.item сцена
              p.text-default Компанія West Sound побудує будь-яку сценічну конструкцію в будь-якому місці. Зверніться до нас щоб отримати інформацію про оптимальний тип та розмір конструктиву для Вашого проекту.
            .col-xs-12.col-sm-6.col-lg-3(onclick="navigateToLed()")
              img.img-circle(src="images/screen.png")
              p.item екрани
              p.text-default West Sound, разом з компанією WiZiO готові забезпечити екрани будь-якого розміру та форми. В нашому розпорядженні найбільший парк візуального обладнання на західній Україні. Зв'яжіться з нами, щоб дізнатись деталі.
    
    section.cmp-about-us
      .section-about.container#aboutus
        .row
          .col-12.col-sm-6.left
            .wrapper-about
              .layout
                h1.title про нас
                p.text-about Компанія "Вест Саунд" почала свою діяльність у 1999 році. На сьогоднішній день, ми є однією з провідних компаній у Захiдному регіоні України в сфері технічного забезпечення культурно масових заходів (сцена, звук, світло), концертів, акцій тощо. Пропонуємо звук, світло, сцену різних конфігурацій.
                h2.list-services до ваших послуг
                .text-about.rental
                  ul
                    li Оренда сцени
                    li Оренда свуку
                    li Оренда світла
                    li Інсталяція обладнання
                    li Виготовлення професійної тари RACK
                    li Конструювання і виробництво акустичних систем під замовлення
    
    section.cmp-equipment
      .section-equipment.container#equipment
        .equipment-content
          .row
            .col-12
              h1.text-center.title обладнання
              .gradient-line
          .row.wrapper-equipment
            .col-xs-12.col-md-4.block
              .h3.item-equipment світло
              hr
              .row
                .col-6
                  p.text-default l’acoustics
                  p.text-default mag audio
                  p.text-default shure
                  p.text-default sennheiser
                  p.text-default fender
                  p.text-default ampeg
                  p.text-default DW
                  p.text-default Tama
                .col-6
                  p.text-default Yamaha
                  p.text-default Allen&health
                  p.text-default mesa boogie
                  p.text-default powersoft
                  p.text-default qsc
                  p.text-default obe
                  p.text-default dbx
                  p.text-default tc electronic
            .col-xs-12.col-md-4.block
              .h3.item-equipment звук
              hr
              .row
                .col-6
                  p.text-default beam head
                  p.text-default spot head
                  p.text-default wash head
                  p.text-default beam-spot head
                  p.text-default led par
                  p.text-default lamp par
                  p.text-default follow spot
                  p.text-default blinder light
                .col-6
                  p.text-default strobe light
                  p.text-default martin lighting
                  p.text-default chamsys lighting
                  p.text-default dmx
                  p.text-default uplighting
                  p.text-default static & dynamic lights
            .col-xs-12.col-md-4.block
              .h3.item-equipment сцена
              hr
              .row
                .col-6
                  p.text-default сценічні конструкції
                  p.text-default подіуми
                  p.text-default Layher
                  p.text-default ліфтова сцена
                  p.text-default збірна фермова сцена
                  p.text-default конструкції для підвісу
                  p.text-default звуку та світла
                  p.text-default послуги  рігерів
                .col-6
                  p.text-default конструкції під екран

    section.cmp-gallery
      .section-gallery.container#gallery
        .gallery-content
          .row
            .col-12
              h1.text-center.title фото
          #instafeed.row.gallery.wrapper-gallery
            
          button(class="btn btn-primary more", onclick="navigateToGallery()") більше фото

    section.cmp-clients
      .section-clients.container#clients
        .clients-content
          .row
            .col-12
              h1.text-center.title наші клієнти
              .gradient-line
          .row.wrapper-clients
            - for (var i = 1; i < 25; i++)
              .col-4.col-md-2.item
                .client-block
                  img.img-fluid(src="images/" + i + ".jpg")
    section.cmp-contact
      .section-contact.container#contact
        .contact-content
          .row
            .col-12.col-sm-6.form
              h1 напишіть нам
              form
                .form-group
                  label(for="name") Ім'я
                  input.form-control#name(type="text", aria-describedby="name", placeholder="введіть ім'я", required)
                .form-group
                  label(for="email") E-mail
                  input.form-control#email(type="email", aria-describedby="email", placeholder="введіть email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")      
                .form-group
                  label(for="phoneNumber") Телефон
                  input.form-control#phoneNumber(type="number", aria-describedby="phoneNumber", placeholder="введіть телефон", required)
                .form-group
                  label(for="exampleTextarea") Повідомлення
                  textarea.form-control#exampleTextarea(rows="4", maxlength="600")
                button.btn.btn-primary.sent(type="submit") відправити

script(src="js/instafeed.min.js")
script(src="js/magnific.min.js")
script(src="js/instascript.js")