extends ./layout2

block content
    .wrapper-page.wrapper-page-laser
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title Лазерне шоу
                .gradient-line
                h3.head.text-center Лазерне шоу-обладнання - лазерні прилади. Його застосування зараз стало все інтенсивнішим. Адже потреби відвідувачів різних заходів ростуть з кожним днем і організаторам потрібно проявляти все більшої фантазії, щоб додати в своє шоу родзинку і зробити його незабутнім.
                div#carouselExampleControls.carousel.slide.col-12(data-ride="carousel", data-interval="3000")
                    div.carousel-inner(role="listbox")
                        div.carousel-item.active
                            img.d-block.img-fluid.img-responsive(src="images/laser1.jpg", alt="Світлова оапаратура")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser2.jpg", alt="Вест Саунд - Сцена, Звук, Світло")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser3.jpg", alt="Оренда світла")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser4.jpg", alt="Світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser5.jpg", alt="Освітлення")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser6.jpg", alt="Освітлення сцени")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser7.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser8.jpg", alt="Лазери")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser9.jpg", alt="Освітлення концертів")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser10.jpg", alt="Мультимедіа шоу")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser11.jpg", alt="Освітлення дискотек")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser12.jpg", alt="Світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser13.jpg", alt="Освітлення концертів")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser14.jpg", alt="Лазерне шоу")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser15.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser16.jpg", alt="Професійне світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser17.jpg", alt="Якісне світлове обладнання")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser18.jpg", alt="Світлове обладнання в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser19.jpg", alt="Світлова апаратура в оренду")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/laser20.jpg", alt="Світлове обладнання в оренду")
            .row-fluid
                button.btn.btn-default(onclick="goBack()") Повернутись