doctype html  
html  
  block vars
  head
    meta(name='google-site-verification', content='3c2KCfTWPYL7rh6nnmeujRWIyNypIzHjdzcDnwTZlJs')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name='robots', content='index, follow')
    meta(name='keywords', content='#{keywords}')
    meta(name='description', content='#{description}')
    title #{title}
    link(rel='stylesheet', href='styles/fonts.scss')
    link(rel='stylesheet', href='styles/landing.scss')
    link(rel='stylesheet', href='styles/site.scss')
    link(rel='stylesheet', href='styles/magnific.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/content.js")
    script(src="js/popup.js")
    script(src="js/header2.js")
    script(src="js/loading.js")
    script(src='js/analytics.js')
  body
    .loader
    include header2
    #content
      block content
    include footer
    script(src="js/instafeed.min.js")
    script(src="js/magnific.min.js")
    script(src="js/instascript2.js")
    