extends ./layout2

block vars
  - var keywords = 'сцена звук світло, оренда світла, львів, оренда світлового обладнання, прокат світла, технічне забезпечення масових заходів, технічне забезпечення заходів, прокат сценічного світла, світильники PAR, світлодіодні прожектори, освітлення, художнє освітлення, освітлення концертів, освітлення банкетів, освітлення сцени лазерне світло, технічне забезпечення концертів, світлове обладнання'
  - var description = 'Оренда світла та світлового обладнання. Технічне забезпечення концертних заходів, прокат світлового обладнання та забезпечення світловими ефектами, освітлення концертів, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика'
  - var title='Оренда світла || Світлове обладнання || Оренда світлового обладнання Львів'

block content
    .wrapper-page.wrapper-page-light
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title Оренда світла
                .gradient-line
                h2.text-default.text-center Будь-які значущі події у світі шоу-бізнесу, не можуть обійтися без оренди світлового обладнання.
                h2.text-center.heading Якісне світлове обладнання в оренду
                div#carouselExampleControls.carousel.slide(data-ride="carousel", data-interval="3000")
                    div.carousel-inner(role="listbox")
                        div.carousel-item.active
                            img.d-block.img-fluid(src="images/light1.jpg", alt="Мультимедіа шоу")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/light2.jpg", alt="Освітлення")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/light3.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="images/light4.jpg", alt="Освітлення інтерьєрів")
            .row
                .col-xs-12.col-md-3.block
                    h3
                        a.head.link(href="/77.html") Прокат сценічного світла
                    hr
                    p.description Оренда сцени під ключ передбачає повне технічне оснащення. Включаючи і сценічне світлове обладнання.  
                .col-xs-12.col-md-3.block
                    h3
                        a.head.link(href="/77.html") Оренда концертного світлового обладнання
                    hr
                    p.description На концертах прийнято використовувати світильники PAR, на клубних вечірках застосовуються заливні світлодіодні прожектори, малюючі динамічні голови.
                .col-xs-12.col-md-3.block
                    h3
                        a.head.link(href="/76.html") Оренда світлового обладнання для дискотек і вечірок
                    hr
                    p.description Лазери, малюючі і заливні світлові голови, сканери, стробоскопи та дзеркальна куля - основна оренда світлового обладнання, що використовується при проведенні танцювальних заходів.
                .col-xs-12.col-md-3.block
                    h3
                        a.head Світло на приватному або корпоративному святі
                    hr
                    p.description Свято вимагає відповідного інтер'єрного освітлення в урочистий момент і в момент застілля, і динамічне світло під час танцювальної програми. Це реалізується шляхом оренди світлового обладнання (динамічних заливних і малюючих прожекторів, приладами архітектурного підсвічування, стробоскопом, дзеркальною кулею).
                .col-xs-12.col-md-3.block
                    h3
                        a.head Художнє освітлення
                    hr
                    p.description Художнє освітлення - яскрава пропозиція по світловому оформленню event заходів. Художнє освітлення інноваційна пропозиція на ринку оренди світла.
                .col-xs-12.col-md-3.block
                    h3
                        a.head Світлове шоу
                    hr
                    p.description Світлове шоу - яскраве враження, подароване гостям Вашого заходу. Світлове представлення складається зі світлових ефектів, лазерних вкраплень і анімацій, феєрверку.    
                .col-xs-12.col-md-3.block
                    h3
                        a.head.link(href="/78.html") Лазерне шоу
                    hr
                    p.description Організація лазерного світло-шоу складається з оренди лазерного світлового обладнання та польоту думки художника по лазерним ефектам. Лазерні шоу використовуються при проведенні дискотек, вечірок, на концертах і при проведенні рекламних акцій.
                .col-xs-12.col-md-3.block
                    h3
                        a.head Мультимедіа шоу
                    hr
                    p.description Мультимедіа шоу - комбіноване освітлення, що складається з динамічного малюючого і заливного освітлення, лазерних прожекторів і мультимедіа графіки, що зливається в єдине світлове рішення, іменоване мультимедіа шоу
                .col-12
                    h3.text-center.heading Послуга з оренди світла включає доставку світлового обладнання, монтаж і демонтаж, роботу режисера по світлу, чергування під час проведення заходу.
                    button.btn.btn-primary.rider(onclick="navigateToLightRider()") Райдер