extends ./layout2

block vars
  - var keywords = 'сцена звук світло, оренда сцени, монтаж сцени, забезпечення світловими ефектами, встановлення звуку, подіуми різних розмірів, подіуми, сцени різних розмірів, оренда світла, ореда звуку, озвучення, освітлення, побудова сцени, технічне забезпечення концертних заходів, технічне забезпечення концертів, технічне забезпечення масових заходів.'
  - var description = 'Сцена звук світло. Технічне забезпечення концертних заходів, забезпечення світловими ефектами, встановлення звуку. Озвучення концерту, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика, оренда сцени, монтаж сцени, подіуму, і т.д.'
  - var title = 'Оренда подіумів -- Сцена Звук Світло - Вест Саунд - Сцена Звук Світло'

block content
    .wrapper-page.wrapper-page-podiumRent
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title 
                    | Оренда подіумів
                    br
                    span
                        |  Сцена Звук Світло
                .gradient-line
                h2.head.text-center Подіуми розмірами до 100м2
            .row
                .col-12.col-md-6.image
                    img.img-fluid(src="images/podium1.jpg")
                .col-12.col-md-6.image
                    img.img-fluid(src="images/podium2.jpg")
                .col-12
                    p.text-default 
                        | Різні конструкції подіуму дозволяють побудувати майданчик потрібного розміру і форми, відповідно до ваших потреб. 
                        span.google-src-text Елементи подіуму 
                        | виготовлені із оцинкованої сталі котрі з'єднуються сталевими клинами, що дозволяє витримувати великі навантаження. Поверхня подіуму складається з міцної фанери (товщ.18мм). Покриттям такого подіуму чи сцени може слугувати різноманітне килимове покриття (ковролін, ламінат та ін.) Конструкції можна використовувати як концертну сцену, або як платформу для  різноманітних презентацій. Окрім того подіум можна з успіхом використовувати: для показів мод, побудови п'єдесталу для автомобілів, майданчика для оформлення телестудій (партикабль), а також у багатьох інших необхідних випадках.
            p.text-default 
                    | за більш детальною інформацією звертайтесь 
                    span(style="color: violet; font-size: 1.5rem;") 0672756545 
                    |або 
                    a.link.contactlink(href="/#contact") Наші контакти
            .row-fluid
                button.btn.btn-default(onclick="goBack()") Повернутись