extends ./layout2

block vars
  - var keywords = 'сцена звук світло, оренда сцени, монтаж сцени, забезпечення світловими ефектами, встановлення звуку, подіуми різних розмірів, подіуми, сцени різних розмірів, оренда світла, ореда звуку, озвучення, освітлення, побудова сцени, технічне забезпечення концертних заходів, технічне забезпечення концертів, технічне забезпечення масових заходів.'
  - var description = 'Сцена звук світло. Технічне забезпечення концертних заходів, забезпечення світловими ефектами, встановлення звуку. Озвучення концерту, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика, оренда сцени, монтаж сцени, подіуму, і т.д.'
  - var title='Звук - Послуги - Вест Саунд - Сцена Звук Світло'

block content
    .wrapper-page.wrapper-page-riderLight
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title 
                    | Звукове обладнання
                    br
                    span
                        |  Сцена Звук Світло
                .gradient-line
                p.text-default.text-center Компанія «West Sound» пропонує послуги професійного звукозабезпечення як концертних залів та клубів так і великих відкритих майданів, стадіонів і фестивалів. Оренда звукового обладнання.
                h2.head Технічний райдер
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Портальна система Mag Wave
                            th 50 кВт
                    tbody
                        tr
                            td Hi-Mid кабінет Mag Wave 10 (2/10” + 3”)
                            td 16 шт
                        tr
                            td Kick Bass кабінет  Mag Wave Sub 18
                            td 6 шт
                        tr
                            td Low Bass кабінет Mag Sub 200
                            td 16 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Портальна система " WS project"
                            th 80 кВт
                    tbody
                        tr
                            td Hi - Mid кабінет ( 2 / 10" + 2")
                            td 24 шт
                            td 1 кВт
                        tr
                            td Звукове обладнання Kick Bass кабінет ( 2 / 18" )
                            td 8 шт
                            td 2 кВт
                        tr
                            td SW Horn кабінет ( 18" )
                            td 16 шт
                            td 1 кВт
                        tr
                            td SW BP кабінет ( 2 / 21" )
                            td 8 шт
                            td 3 кВт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Моніторна Система  L’acoustics mtd115
                    tbody
                        tr
                            td Кабінет L’acoustics mtd115
                            td 8 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="3") Портальна система " WS project"
                    tbody
                        tr
                            td Top 2 Way кабінет ( 2 / 15" + 2")
                            td 6 шт
                            td 0.2 кВт
                        tr
                            td SW BP кабінет ( 2 / 15" )
                            td 6 шт
                            td 1.6 кВт
                        tr
                            td Floor кабінет ( 2 / 12" + 2" )
                            td 4 шт
                            td 1.1 кВт
                        tr
                            td Floor кабінет ( 12" + 2" )
                            td 12 шт
                            td 0.6 кВт
                        tr
                            td Floor кабінет ( 15" + 1.4" )
                            td 4 шт
                            td 0.5 кВт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Цифрові мікшерні пульти
                    tbody
                        tr
                            td Allen&Heath dLive s7000
                            td 64/32
                        tr
                            td Allen&Heath iLive t112 
                            td 48/24
                        tr
                            td Allen&Heath qu-32
                            td 32/16
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Аналогові мікшерні пульти
                    tbody
                        tr
                            td A&H GL 2800 - 40 — 8
                            td 1 шт
                        tr
                            td Soundсraft TWO - 40 ch1 
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Портальні процесори
                    tbody
                        tr
                            td Xilica XP 4080
                            td 1 шт
                        tr
                            td Xilica XP 8080 
                            td 1 шт
                        tr
                            td Dbx Driverack PX
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Процесори обробки звуку
                    tbody
                        tr
                            td Dbx 160
                            td 3 шт
                        tr
                            td Dbx 166
                            td 8 шт
                        tr
                            td Dbx 1046
                            td 2 шт
                        tr
                            td Dbx 282A
                            td 1 шт
                        tr
                            td EQ Dbx 1232 
                            td 4 шт
                        tr
                            td TC Electronic M — One
                            td 2 шт
                        tr
                            td YAMAHA SPX 2000
                            td 1 шт
                        tr
                            td Lexicon MPX 550 
                            td 1 шт
                        tr
                            td TC Electronic M 350
                            td 1 шт
                        tr
                            td EQ XTA GQ 600
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Гітарні підсилювачі
                    tbody
                        tr
                            td Mesa Boogie rectifier  + Кабінет  (4.12”)
                            td 1 шт
                        tr
                            td Crate BV - 120 + кабінет ( 4 / 12" )
                            td 2 шт
                        tr
                            td Marshall JCM 900 + кабінет ( 4 / 12" )
                            td 1 шт
                        tr
                            td Fender Twin Reverb
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Бас- гітарні підсилювачі
                    tbody
                        tr
                            td Сarvin Red Lane 1000 + 2 кабінета ( 4 / 10" )
                            td 1 шт
                        tr
                            td Ampeg SVT - 6 + кабінет ( 8 / 10" )
                            td 2 шт
                        tr
                            td Trace Elliot + кабінет ( 2 / 12" )
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Мікрофони
                    tbody
                        tr
                            td SHURE SM 58
                            td 10 шт
                        tr
                            td SHURE Beta 58A
                            td 3 шт
                        tr
                            td SHURE SM 57
                            td 10 шт
                        tr
                            td SHURE PG 52	
                            td 1 шт
                        tr
                            td AKG C1000
                            td 6 шт
                        tr
                            td Shure sm81
                            td 5 шт
                        tr
                            td Shure beta91 
                            td 1 шт
                        tr
                            td Shure beta 98
                            td 1 шт
                        tr
                            td Shure beta52
                            td 2 шт
                        tr
                            td AKG c414
                            td 1 шт
                        tr
                            td AKG D 112
                            td 1 шт
                        tr
                            td SENNHEISER e 604
                            td 3 шт
                        tr
                            td SENNHEISER e 904
                            td 4 шт
                        tr
                            td SENNHEISER e 602
                            td 2 шт
                        tr
                            td SENNHEISER e 901
                            td 2 шт
                        tr
                            td SENNHEISER e 855
                            td 1 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Барабани
                    tbody
                        tr
                            td DW Collector’s
                        tr
                            td TAMA Starclassic
                        tr
                            td YAMAHA Stage Custom
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Підсилювачі
                    tbody
                        tr
                            td Powersoft k6
                            td 4 шт
                        tr
                            td Powersoft k10
                            td 2 шт
                        tr
                            td Powersoft k3 DSP
                            td 3 шт
                        tr
                            td Powersoft x4 DSP	
                            td 2 шт
                        tr
                            td(colspan="2") QSC
                        tr
                            td(colspan="2") OBE 450
                        tr
                            td(colspan="2") OBE 650 
                        tr
                            td(colspan="2") OBE 1000
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Радіомікрофони
                    tbody
                        tr
                            td Shure ulxp4
                            td 2 шт
                        tr
                            td Shure pg2
                            td 3 шт
                        tr
                            td Senncheiser G3 935
                            td 2 шт
                        tr
                            td Senncheiser G2
                            td 2 шт
                        tr
                            td Sennheiser G1	
                            td 2 шт
                        tr
                            td Senncheiser G2 Headset
                            td 2 шт
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Системи персонального моніторингу
                    tbody
                        tr
                            td Sennheiser G2 transmitter + Sennheiser G3 bodypack receiver
                            td 4 шт
                h3
                    a.link(href="#", title="Оренда акустичних систем та блоків підсилення потужності", onclick="navigateToAcoustic()") Оренда акустичних систем та блоків підсилення потужності
                p.text-default 
                    | за більш детальною інформацією звертайтесь 
                    span 0672756545 
                    |або 
                    a.link.contactlink(href="/#contact") Наші контакти