extends ./layout2

block content
    .wrapper-page.wrapper-page-sound
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title Оренда звуку
                .gradient-line
                h2.text-default.text-center
                    span Westsound 
                    | надає широкий спектр послуг з технічного забезпечення масових заходів і шоу-програм. На сьогоднішній день ми ефективно вирішуємо завдання по всім технічним напрямкам шоу-індустрії: оренда звуку, оренда світла та відео до повного технічного забезпечення масових заходів при замовленнях оренди звуку.
            .row
                div.col-xs-12.col-sm-4.col-lg-3
                    img.img-fluid(src="images/zvuk1.jpg")
                div.col-xs-12.col-sm-8.col-lg-9
                    h2 Оренда професійного звукового обладнання
                    p Досвідчені фахівці допоможуть оформити прокат весільного, новорічного чи святкового звукового обладнання, розрахують вартість оренди звуку і світла на 20 кВт і 50 кВт для кожного конкретного заходу, а для постійних клієнтів нададуть значну знижку.
            .row
                div.col-12 
                    p.text-center.heading Ми розробили звукові комплекси, здатні задовольнити найвибагливіших слухачів. Всі системи, які здаються в оренду звуку, відбиралися і налаштовувалися на протязі численних живих виступів і годин проведених за пультом.
            .row
                .col-6.col-md-3
                    img.img-fluid(src="images/zvuk2.jpg")
                .col-6.col-md-3
                    img.img-fluid(src="images/zvuk3.jpg")
                .col-6.col-md-3
                    img.img-fluid(src="images/zvuk4.jpg")
                .col-6.col-md-3
                    img.img-fluid(src="images/zvuk5.jpg")
                .col-12
                    h3.text-center.heading Оренда звукової апаратури — один з напрямків діяльності нашої компанії.
                    h2.text-center.heading(style="color: violet") Звуковий супровід заходів найрізноманітніших  форматів і оренда звукової апаратури.
                    h2.text-center.heading Якісне звукове обладнання в оренду
            .row
                .col-4
                    img.img-fluid(src="images/zvuk6.jpg")
                .col-4
                    img.img-fluid(src="images/zvuk7.jpg")
                .col-4
                    img.img-fluid(src="images/zvuk8.jpg")
            .row
                h4.text-center.text-default(style="color: violet") Зі світло- і звукорежисерами компанії Westsound працювали такі відомі гурти, як Скрябін, BB, Скай, Друга Ріка, Тік, ТарТак, Мандри, Кому Вниз, Зоряна, Ю-Пітер, Акваріум та інші виконавці.
            .row
                div.col-xs-12.col-sm-4.col-lg-3
                    img.img-fluid(src="images/zvuk9.jpg", style="margin-bottom: 15px")
                div.col-xs-12.col-sm-8.col-lg-9
                    p Гарний настрій - ось головна складова будь-якого урочистого заходу, а його можна створити тільки за допомогою веселої музики. Досить часто потребують в оренді акустичної системи зі звуком HK Audio 2 квт можна побачити повідомлення "візьму в оренду звукове обладнання на Новий рік" і подібні - це означає, що люди хочуть створити приємну атмосферу на свято, але просто не знають, куди їм звернутися за допомогою. Крім того, сама оренда плазмового і специфічного звукового обладнання без професійних настроювачів та інших фахівців просто марна, адже людина без досвіду не зможе правильно встановити його і експлуатувати.
            .row
                div.col-12
                    h2.text-center Оренда  звукового обладнання та комплексна технічна підтримка заходу
            .row
                div.col-xs-12.col-sm-4.col-lg-3
                    img.img-fluid(src="images/zvuk10.jpg")
                div.col-xs-12.col-sm-8.col-lg-9
                    h2 Оренда звукового обладнання
                    p Спочатку необхідно створити план акустичної системи, який буде оптимальним для конкретного приміщення або відкритого майданчика. Потім, слід підібрати і встановити звукову апаратуру, що володіє не тільки достатнім рівнем потужності, а й відповідну для використання з іншими елементами звукового комплексу. Нерідко артисти, які виступатимуть на концерті або святі, висувають свої вимоги щодо звукозабезпечення, освітлення і т. д., їхні побажання необхідно виконувати в будь-якому випадку. Замовивши оренду звуку в нас, ваше свято запам'ятається, насамперед, гарною музикою та веселим настроєм.
                button.btn.btn-primary.rider(onclick="navigateToSoundRider()") Райдер