.navbar {
  background: transparent;
  transition: background 1s ease-out;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 5;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  @media (max-width: 991px) {
    .navbar {
      width: 100%;
      padding: 2.375rem 1rem;
      height: auto; } }
  @media (min-width: 992px) {
    .navbar .collapse {
      height: 100px; }
      .navbar .collapse .navbar-nav {
        margin: 0 auto; }
        .navbar .collapse .navbar-nav .nav-item {
          height: 100%; }
          .navbar .collapse .navbar-nav .nav-item .nav-link {
            margin: 0 1.5rem;
            padding-left: 0;
            padding-right: 0;
            padding-top: 36px;
            text-transform: uppercase;
            width: auto;
            color: #fff;
            font-family: 'SourceSansPro-Semibold';
            font-size: 1rem; }
            .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
              border-bottom: 2px solid #fff;
              padding-bottom: 0.25rem; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .navbar .collapse .navbar-nav .nav-item .nav-link {
          margin: 0 0.625rem; } }
  @media (min-width: 992px) {
        .navbar .collapse .navbar-nav .active {
          height: 100%; }
          .navbar .collapse .navbar-nav .active .nav-link {
            padding-top: 33px;
            border-top: 3px solid #fff; }
            .navbar .collapse .navbar-nav .active .nav-link:hover {
              border-bottom: none;
              padding-bottom: 0.25rem;
              cursor: default; } }
  .navbar .social {
    width: 8.875rem; }
    .navbar .social:hover {
      border-bottom: none !important;
      padding-bottom: 0.25rem; }
    .navbar .social .socIcon {
      cursor: pointer;
      margin-bottom: 0.25rem; }
      .navbar .social .socIcon:nth-child(2), .navbar .social .socIcon:nth-child(3) {
        margin-left: 2rem; }
  @media (max-width: 1200px) {
    .navbar .social {
      margin-left: 1.5rem !important; } }
  .navbar .navbar-collapse {
    width: auto;
    margin: 0 auto; }
  .navbar .logo-desktop {
    padding-top: 34px;
    margin-right: 1.25rem; }
    @media (max-width: 991px) {
      .navbar .logo-desktop {
        display: none; } }

.show {
  background: #202427 !important; }

@media (max-width: 991px) {
  .show {
    height: auto;
    background: none;
    transition: background 0s ease-out; }
    .show .menuMobile {
      margin-top: 1.5rem; }
      .show .menuMobile .nav-link {
        color: #e9ebf4;
        text-transform: uppercase;
        text-align: center;
        font-family: 'SourceSansPro-Semibold'; }
        .show .menuMobile .nav-link:hover {
          color: #fff;
          border-bottom: none;
          padding-bottom: 0.5rem; }
      .show .menuMobile .social {
        margin-left: 0 !important; } }
.logo-mobile {
  text-align: left; }
  @media (min-width: 992px) {
    .logo-mobile {
      display: none; } }
  .logo-mobile:focus {
    outline: none; }

.opacity-line {
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.1;
  margin: 0; }

.navbar-toggler:focus {
  outline: none; }

* {
  margin: 0;
  padding: 0; }

.mask {
  background: #171925;
  opacity: 1; }
  .mask .section-fullscreen {
    background-image: url("./../../assets/main-section.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(23, 25, 37, 0.4);
    opacity: 0.4;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
    position: relative;
    top: 0;
    background-position: bottom; }
  .mask .main-text {
    position: fixed;
    top: 50%;
    width: 100%;
    margin-top: -5rem; }
    @media (max-width: 982px) {
      .mask .main-text {
        top: 40%; } }
    @media (max-width: 675px) {
      .mask .main-text {
        top: 50%; } }
    .mask .main-text .tagline {
      text-shadow: -8px -6px 1px rgba(33, 150, 243, 0.5);
      font-weight: 700;
      letter-spacing: 1.25rem;
      padding-left: 6rem;
      padding-right: 6rem;
      font-size: 5rem;
      line-height: 1.5;
      text-transform: uppercase;
      color: #fff;
      font-family: SourceSansPro-Bold; }
    @media (max-width: 1600px) {
      .mask .main-text .tagline {
        font-size: 4rem; } }
    @media (max-width: 675px) {
      .mask .main-text .tagline {
        font-size: 2.5rem;
        letter-spacing: 0.75rem;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        text-shadow: -5px -4px 1px rgba(33, 150, 243, 0.5); } }

.section-services {
  background-image: url("./../../assets/service-section.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
  float: left; }
  .section-services .title {
    color: #fff; }
  @media (max-width: 575px) {
    .section-services .title {
      letter-spacing: 0.5rem !important; } }
  .section-services .text-default {
    color: #8a9394; }
  .section-services .service-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .section-services .service-content .wrapper-services .img-circle {
      display: block;
      margin: 1rem auto;
      border-radius: 50%; }
    .section-services .service-content .wrapper-services .item {
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-family: 'SourceSansPro-Bold';
      color: #fff;
      text-transform: uppercase;
      margin-top: 1.5rem;
      letter-spacing: 5px; }
    .section-services .service-content .wrapper-services .text-default {
      width: 100%;
      text-align: center;
      padding: 20px; }

.section-about {
  width: 100%;
  height: auto;
  background: #fff;
  float: left;
  position: relative;
  background-image: url("./../../assets/about-section.png");
  background-size: cover;
  background-position: center; }
  .section-about .left {
    height: auto;
    background: #fff;
    position: relative;
    display: block;
    padding-left: 15px;
    padding-top: 150px;
    padding-bottom: 70px; }
    .section-about .left .wrapper-about {
      height: 600px;
      width: 100%;
      margin: 0 auto;
      position: relative; }
      .section-about .left .wrapper-about .layout {
        width: 100%;
        max-width: 600px;
        float: right;
        height: auto; }
        .section-about .left .wrapper-about .layout .title {
          padding-left: 30px;
          padding-right: 100px;
          width: 100%;
          max-width: 600px;
          color: #424a57;
          float: right; }
        .section-about .left .wrapper-about .layout .text-about {
          width: 100%;
          max-width: 570px;
          font-size: 14px;
          font-family: 'SourceSansPro-Regular';
          color: #424a57;
          margin-left: 30px;
          padding-left: 30px;
          border-left: 2px solid #415168;
          float: right;
          line-height: 1.5rem;
          opacity: 0.7;
          padding-right: 60px;
          letter-spacing: 1px;
          margin-bottom: 4rem; }
        .section-about .left .wrapper-about .layout .rental {
          padding-left: 45px;
          line-height: 2rem; }
        .section-about .left .wrapper-about .layout .list-services {
          width: 100%;
          max-width: 600px;
          font-size: 24px;
          color: #415168;
          font-family: 'SourceSansPro-Bold';
          padding-left: 30px;
          padding-right: 100px;
          float: right;
          letter-spacing: 6px;
          text-transform: uppercase;
          margin-bottom: 1.5rem; }
  @media (max-width: 881px) {
    .section-about .left {
      padding-top: 64px !important;
      padding-bottom: 16px !important;
      padding-left: 0; }
      .section-about .left .title {
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
        letter-spacing: 0.5rem; }
      .section-about .left .list-services {
        padding-right: 0 !important; }
      .section-about .left .text-about {
        border: none !important; }
      .section-about .left .rental {
        margin-bottom: 0; } }
  @media (max-width: 575px) {
    .section-about .text-about {
      text-align: justify; }
    .section-about .rental {
      text-align: left; } }

.cmp-equipment .section-equipment {
  background-image: url("./../../assets/equipment-section.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
  float: left; }
  .cmp-equipment .section-equipment .equipment-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .cmp-equipment .section-equipment .equipment-content .title {
      color: #fff; }
    @media (max-width: 575px) {
      .cmp-equipment .section-equipment .equipment-content .title {
        letter-spacing: 0.5rem !important; } }
    .cmp-equipment .section-equipment .equipment-content .wrapper-equipment .block {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 1.5rem; }
      .cmp-equipment .section-equipment .equipment-content .wrapper-equipment .block hr {
        color: #fff;
        background-color: #fff;
        opacity: 0.1;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 2rem; }
      .cmp-equipment .section-equipment .equipment-content .wrapper-equipment .block .item-equipment {
        font-size: 1.5rem;
        font-family: 'SourceSansPro-Bold';
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px; }
      .cmp-equipment .section-equipment .equipment-content .wrapper-equipment .block .text-default {
        color: #8a9394;
        line-height: 2; }

.cmp-gallery .section-gallery {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
  float: left; }
  .cmp-gallery .section-gallery .gallery-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .cmp-gallery .section-gallery .gallery-content .title {
      color: #424a57; }
    @media (max-width: 575px) {
      .cmp-gallery .section-gallery .gallery-content .title {
        letter-spacing: 0.5rem !important; } }
    .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo {
      padding: 15px;
      border-radius: 0.25rem; }
      .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo .mask {
        height: auto;
        width: auto;
        background: #6c5589;
        border-radius: 0.25rem; }
        .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo .mask .img-fluid {
          width: 100%;
          height: auto;
          border-radius: 0.25rem; }
        .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo .mask .zoom {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          background: url("./../../assets/icon-zoom-in.png");
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          display: none; }
      .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo:hover {
        cursor: pointer; }
        .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo:hover .img-fluid {
          opacity: 0.4; }
        .cmp-gallery .section-gallery .gallery-content .wrapper-gallery .photo:hover .zoom {
          display: block; }
    .cmp-gallery .section-gallery .gallery-content .wrapper-pagination {
      margin-top: 1rem; }
      .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination {
        width: 200px;
        height: 40px;
        margin-left: auto;
        margin-right: auto; }
        .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left,
        .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right {
          width: 41px;
          height: 100%;
          padding-top: 11px;
          padding-left: 9px; }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left .arrow,
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right .arrow {
            width: 23px;
            height: 18px; }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left .arrow-left,
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right .arrow-left {
            background: url("./../../assets/arrow-left-default.png"); }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left .arrow-right,
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right .arrow-right {
            background: url("./../../assets/arrow-right-default.png"); }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left:hover,
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right:hover {
            cursor: pointer; }
            .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left:hover .arrow-left,
            .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right:hover .arrow-left {
              background: url("./../../assets/arrow-left-hover.png"); }
            .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .left:hover .arrow-right,
            .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .right:hover .arrow-right {
              background: url("./../../assets/arrow-right-hover.png"); }
        .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .center {
          width: 118px;
          height: 100%; }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .center .counter {
            color: #424a57;
            font-family: 'SourceSansPro-Regular';
            width: 100%;
            text-align: center;
            font-size: 1rem; }
          .cmp-gallery .section-gallery .gallery-content .wrapper-pagination .pagination .center .active-page {
            font-size: 30px;
            padding-left: 0.5rem;
            padding-right: 0.5rem; }

.modal {
  display: table;
  height: 100% !important;
  table-layout: fixed;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 100%;
  outline: none;
  min-width: 300px;
  opacity: 1; }
  .modal .modal-opacity {
    background-color: rgba(26, 29, 31, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
  .modal .wrapper-modal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%; }
    @media (max-width: 768px) {
      .modal .wrapper-modal:hover .arrow-left {
        display: block; }
      .modal .wrapper-modal:hover .arrow-right {
        display: block; } }
  .modal .arrow {
    width: 70px;
    height: 54px;
    position: absolute;
    z-index: 5;
    cursor: pointer; }
  .modal .arrow-left {
    background: url("./../../assets/icon-arrow-zoom-left.png");
    top: calc(50% - 26px);
    left: -15%; }
    .modal .arrow-left:hover {
      background: url("./../../assets/icon-arrow-zoom-left-hover.png"); }
  @media (max-width: 800px) {
    .modal .arrow-left {
      left: -12%; } }
  @media (max-width: 768px) {
    .modal .arrow-left {
      left: 0;
      display: none; } }
  .modal .arrow-right {
    background: url("./../../assets/icon-arrow-zoom-right.png");
    top: calc(50% - 26px);
    right: -15%; }
    .modal .arrow-right:hover {
      background: url("./../../assets/icon-arrow-zoom-right-hover.png"); }
  @media (max-width: 800px) {
    .modal .arrow-right {
      right: -12%; } }
  @media (max-width: 768px) {
    .modal .arrow-right {
      right: 0;
      display: none; } }
  .modal .modal-content {
    display: inline-block;
    margin: 20px;
    position: relative;
    text-align: left;
    padding: 70px; }
  @media (max-width: 768px) {
    .modal .modal-content {
      padding-right: 0;
      padding-left: 0; } }
  .modal .close {
    width: 40px;
    height: 40px;
    background-image: url("./../../assets/icon-close.png");
    position: absolute;
    right: 15px;
    top: 15px; }
    .modal .close:hover {
      background-image: url("./../../assets/icon-close-hover.png"); }
  @media (max-height: 800px) {
    .modal .img-fluid {
      max-height: 460px; } }
  @media (max-height: 600px) {
    .modal .img-fluid {
      max-height: 350px; } }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.cmp-clients .section-clients {
  background-image: url("./../../assets/clients-section.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
  float: left; }
  .cmp-clients .section-clients .clients-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .cmp-clients .section-clients .clients-content .title {
      color: #424a57; }
    @media (max-width: 575px) {
      .cmp-clients .section-clients .clients-content .title {
        letter-spacing: 0.5rem !important; } }
    .cmp-clients .section-clients .clients-content .wrapper-clients .item {
      display: table;
      padding: 15px;
      height: 200px;
      width: auto; }
      @media (max-width: 576px) {
        .cmp-clients .section-clients .clients-content .wrapper-clients .item {
          height: 150px; } }
      @media (max-width: 400px) {
        .cmp-clients .section-clients .clients-content .wrapper-clients .item {
          height: 120px; } }
      @media (max-width: 370px) {
        .cmp-clients .section-clients .clients-content .wrapper-clients .item {
          height: 100px; } }
      .cmp-clients .section-clients .clients-content .wrapper-clients .item .client-block {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        max-width: 100%; }
        .cmp-clients .section-clients .clients-content .wrapper-clients .item .client-block .img-fluid {
          margin: 0 auto;
          width: 100%;
          height: auto;
          border-radius: 1rem; }

.cmp-contact .section-contact {
  background-image: url("./../../assets/contact-us-section.png");
  background-size: cover;
  background-position-x: 73.5%;
  width: 100%;
  height: auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  float: left; }
  @media (max-width: 576px) {
    .cmp-contact .section-contact {
      padding: 0; } }
  .cmp-contact .section-contact .contact-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .cmp-contact .section-contact .contact-content .form {
      width: 100%;
      height: 670px;
      border-radius: 0.5rem;
      background: #fff;
      padding: 45px 100px; }
      @media (max-width: 1200px) {
        .cmp-contact .section-contact .contact-content .form {
          padding: 45px 50px; } }
      @media (max-width: 795px) {
        .cmp-contact .section-contact .contact-content .form {
          padding: 24px 15px;
          border-radius: 0; } }
      .cmp-contact .section-contact .contact-content .form h1 {
        width: 100%;
        font-size: 2rem;
        font-family: 'SourceSansPro-Bold';
        color: #424242;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 1.5rem; }
      .cmp-contact .section-contact .contact-content .form .form-group {
        margin-top: 1rem; }
        .cmp-contact .section-contact .contact-content .form .form-group label {
          display: block;
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          color: #424242;
          font-size: 1rem;
          font-family: 'SourceSansPro-Regular';
          margin-bottom: 0.25rem; }
        .cmp-contact .section-contact .contact-content .form .form-group input {
          height: 44px; }
        .cmp-contact .section-contact .contact-content .form .form-group .form-control {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          background: #e9eaee;
          border-radius: 0.25rem;
          line-height: 2;
          padding: 0 15px;
          padding-bottom: 3px;
          border: none;
          color: #3c3d41;
          font-size: 1rem;
          font-family: 'SourceSansPro-Regular'; }
          .cmp-contact .section-contact .contact-content .form .form-group .form-control:focus {
            border: none; }
        .cmp-contact .section-contact .contact-content .form .form-group textarea {
          resize: none;
          padding-top: 10px !important;
          padding-bottom: 10px !important; }
      .cmp-contact .section-contact .contact-content .form .sent {
        width: 11.5rem;
        height: 2.75rem;
        background: #fff;
        border: 2px solid #d867d4;
        font-size: 1rem;
        color: #d867d4;
        font-family: 'SourceSansPro-Bold';
        text-transform: uppercase;
        border-radius: 44px;
        line-height: 42px;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0; }
        .cmp-contact .section-contact .contact-content .form .sent:hover {
          background: #f4d8ff;
          color: #b967d8;
          border: 2px solid #b967d8; }
        .cmp-contact .section-contact .contact-content .form .sent:focus {
          outline: none !important; }

.cmp-footer .section-footer {
  background-color: #424a57;
  width: 100%;
  height: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  float: left; }
  @media (max-width: 768px) {
    .cmp-footer .section-footer {
      padding: 1rem; } }
  .cmp-footer .section-footer .footer-content {
    max-width: 1200px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto; }
    .cmp-footer .section-footer .footer-content .header-text {
      width: 100%;
      font-size: 12px;
      font-family: 'SourceSansPro-Regular';
      color: #7e899b;
      text-transform: uppercase;
      margin-bottom: 0.5rem; }
    .cmp-footer .section-footer .footer-content .block {
      margin-top: 1rem; }
    .cmp-footer .section-footer .footer-content .company .logo-footer {
      width: 170px;
      height: 25px;
      background-image: url("./../../assets/logo-footer.png");
      margin-bottom: 0.5rem; }
    .cmp-footer .section-footer .footer-content .company .rights {
      color: #fff;
      font-size: 13px;
      font-family: 'SourceSansPro-Regular';
      text-transform: uppercase; }
    .cmp-footer .section-footer .footer-content .address ul {
      font-size: 14px;
      font-family: 'SourceSansPro-Regular'; }
      .cmp-footer .section-footer .footer-content .address ul li {
        list-style: none; }
    .cmp-footer .section-footer .footer-content .address .label {
      color: #7e899b;
      float: left;
      width: 70px; }
    .cmp-footer .section-footer .footer-content .address .data {
      float: left;
      color: #fff;
      width: calc(100% - 70px); }
    .cmp-footer .section-footer .footer-content .social .icon {
      float: left;
      margin-right: 1.25rem;
      cursor: pointer; }
    .cmp-footer .section-footer .footer-content .social .facebook,
    .cmp-footer .section-footer .footer-content .social .instagram {
      width: 24px;
      height: 24px; }
    .cmp-footer .section-footer .footer-content .social .facebook {
      background-image: url("./../../assets/facebook.png"); }
      .cmp-footer .section-footer .footer-content .social .facebook:hover {
        background-image: url("./../../assets/facebook-hover.png"); }
    .cmp-footer .section-footer .footer-content .social .instagram {
      background-image: url("./../../assets/instagram.png"); }
      .cmp-footer .section-footer .footer-content .social .instagram:hover {
        background-image: url("./../../assets/instagram-hover.png"); }
    .cmp-footer .section-footer .footer-content .social .youtube {
      width: 20px;
      height: 24px;
      background-image: url("./../../assets/youtube.png"); }
      .cmp-footer .section-footer .footer-content .social .youtube:hover {
        background-image: url("./../../assets/youtube-hover.png"); }
    .cmp-footer .section-footer .footer-content .creators .name {
      font-size: 14px;
      font-family: 'SourceSansPro-Bold';
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 0.5rem; }
    .cmp-footer .section-footer .footer-content .creators .header-text {
      margin-bottom: 0; }

html,
body {
  width: 100%;
  height: 100%; }

.wrapper-page .title {
  margin-bottom: 1.5rem;
  font-size: 45px;
  font-family: SourceSansPro-Bold;
  letter-spacing: 1rem;
  text-transform: uppercase; }
@media (max-width: 420px) {
  .wrapper-page .title {
    font-size: 32px !important; } }
.wrapper-page .text-default {
  font-size: 0.875rem;
  font-family: SourceSansPro-Regular; }
.wrapper-page .gradient-line {
  margin: 3rem auto;
  width: 170px;
  height: 5px;
  background: linear-gradient(to right, #5e56da 0%, #f26da7 100%); }
.wrapper-page input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e9eaee inset; }
.wrapper-page input::-webkit-outer-spin-button,
.wrapper-page input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
.wrapper-page input[type='number'] {
  -moz-appearance: textfield; }