extends ../../shared/site

block vars
  - var keywords = 'сцена звук світло, оренда сцени, монтаж сцени, забезпечення світловими ефектами, встановлення звуку, подіуми різних розмірів, подіуми, сцени різних розмірів, оренда світла, ореда звуку, озвучення, освітлення, побудова сцени, технічне забезпечення концертних заходів, технічне забезпечення концертів, технічне забезпечення масових заходів.'
  - var description = 'Сцена звук світло. Технічне забезпечення концертних заходів, забезпечення світловими ефектами, встановлення звуку. Озвучення концерту, банкету, весілля чи іншого заходу, професійне освітлення сцени, площадки, чи танцювального майданчика, оренда сцени, монтаж сцени, подіуму, і т.д.'
  - var title = 'Дискотечне обладнання - Вест Саунд - Сцена Звук Світло'


block content
    .wrapper-page.wrapper-page-discoEquipment
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title 
                    | Дискотечне обладнання
                    br
                    span
                        | Якісне звукове та світлове обладнання
                .gradient-line
                h2.head.text-center Оренда світлової та звукової апаратури для різноманітних заходів.
                br
                h3.text-default.text-center
                    | Будь-який захід потребує відповідного оформлення. А якщо мова йде про дискотеки та нічні клуби, то в першу чергу потрібно створити необхідну атмосферу і підібрати відповідне 
                    strong обладнання для дискотеки 
                    | (світломузика, звукове або сценічне обладнання). Клубне приміщення, в якому проводиться дискотека, перетворюється до невпізнання, якщо використовувати спеціальне 
                    strong світлове обладнання для дискотек.
                div#carouselExampleControls.carousel.slide(data-ride="carousel", data-interval="3000")
                    div.carousel-inner(role="listbox")
                        div.carousel-item.active
                            img.d-block.img-fluid(src="/images/disco1.jpg", alt="Освітлення дискотек")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco2.jpg", alt="Вест Саунд - Сцена, Звук, Світло")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco3.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco4.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco5.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco6.jpg", alt="Освітлення сцени")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco7.jpg", alt="Оренда світла")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco8.jpg", alt="Мультимедіа шоу")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco9.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco10.jpg", alt="Освітлення")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco11.jpg", alt="Освітлення інтерьєрів")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco12.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco13.jpg", alt="Світло, звук")
                        div.carousel-item
                            img.d-block.img-fluid(src="/images/disco14.jpg", alt="Світлове обладнання")
            .row-fluid
                button.btn.btn-default(onclick="goBack()") Повернутись