@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../fonts/SourceSansPro-Black.otf") format("opentype"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.otf") format("opentype"); }

@font-face {
  font-family: "SourceSansPro-It";
  src: url("../fonts/SourceSansPro-It.otf") format("opentype"); }

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/SourceSansPro-Light.otf") format("opentype"); }

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype"); }

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype"); }
