//---------------------- global wrapper styles -----------------------
.wrapper-page {
    background-image: url('../images/service-section.png');
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding-bottom: 2rem;
    .title {
        margin-bottom: 1.5rem;
        font-size: 45px;
        font-family: 'SourceSansPro-Bold';
        letter-spacing: 1rem;
        text-transform: uppercase;
        color: #fff;
        @media(max-width: 600px) {
            font-size: 24px !important;
            letter-spacing: 6px;
            line-height: 1.5;
            span{
                font-size: 20px !important;
                display: block;
                margin-top: 0.5rem;
                line-height: 20px;
            }
        }
    }
    .head {
        color: #fff !important;
        font-family: 'SourceSansPro-Regular';
        font-size: 1.5rem;
        &:hover {
            color: #fff;
        }
    }
    .link {
        color: #4267b2 !important;
        text-decoration: underline;
        font-family: 'SourceSansPro-Regular';
        &:hover {
            color: #4267b2;
            text-decoration: none;
        }
    }
    #carouselExampleControls {
        position: initial;
        float: none;
        width: 600px;
        height: 400px;
    }
    .heading {
        color: violet;
        font-size: 1.25rem;
        font-family: 'SourceSansPro-Semibold';
        margin-top: 1rem;
    }
    .block {
        padding-bottom: 1.5rem;
        hr {
            color: #fff;
            background-color: #fff;
            opacity: 0.1;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem
        }
        .description {
            text-align: left;
        }
    }
}

//----------------- custom styles for image slider ---------------------
.wrapper-page-discoEquipment,
.wrapper-page-concertEquipment,
.wrapper-page-laser,
.wrapper-page-light {
    .slide {
        max-width: 100% !important;
        width: 530px !important;
        height: auto !important;
        margin: 2rem auto;
        display: block;
        padding: 0;
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }
}

//----------------------- services page -------------------------------

.wrapper-page-services{
    a{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

//----------------------- disco equipment page ----------------------------
.wrapper-page-discoEquipment {
    .slide {
        width: 300px !important;
        height: 24rem !important;
        margin-bottom: 0 !important;
    }
}

//---------------- custom style for scene page -----------------------
.wrapper-page-scene {
    h3 {
        width: 100%;
        margin-bottom: 0;
        .link {
            display: block;
            width: 100%;
            height: 100%;
            padding: 1rem;
            &:hover {
                color: #fff;
                text-decoration: none;
                background: rgba(23, 25, 37, 0.4);
                border-bottom: none;
                border-radius: 2rem;
            }
        }
    }
}

.wrapper-page-stageRent {
    span {
        color: violet;
    }
}

//----------------------------- gallery ------------------------------
.gallery-page {
    background: #fff;
    .title {
        color: #424a57 !important;
    }
    .container-fluid,
    .row-fluid,
    .section-gallery,
    .wrapper-gallery {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .wrapper-gallery {
        margin: 0;
    }
    .img-fluid {
        cursor: pointer !important;
    }
}

//----------------------- wrapper container 1200px -- global styles ----------------------
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 164px;
    .row-fluid {
        padding-left: 15px;
        padding-right: 15px;
        .title {
            color: #fff;
        }
        span {
            color: violet;
            font-size: 1.5rem;
        }
    }
    .text-default {
        font-size: 1rem;
        color: #8a9394;
    }
    .row {
        padding: 15px;
        h2 {
            margin: 1rem 0;
            width: 100%;
            text-align: left;
            font-size: 1.5rem;
            color: #fff;
            font-family: 'SourceSansPro-Semibold';
            @media(max-width: 770px) {
                text-align: center;
                margin-top: 0;
            }
            @media(max-width: 575px) {
                margin-top: 1rem;
            }
        }
        .img-fluid {
            display: block;
            margin: 0 auto;
            cursor: default;
        }
        p {
            color: #8a9394;
            font-family: 'SourceSansPro-Regular';
            width: 100%;
            text-align: justify;
            @media(max-width: 770px) {
                line-height: 1.2;
            }
        }
        .heading {
            color: #fff;
            font-size: 1.25rem;
            font-family: 'SourceSansPro-Semibold';
            margin-top: 1rem;
        }
        .rider {
            display: block;
            width: 200px;
            height: 50px;
            background: linear-gradient(to right, #5e56da 0%, #f26da7 100%);
            opacity: 0.8;
            margin: 20px auto;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            border-radius: 25px;
            font-family: 'SourceSansPro-Semibold';
            border: none;
            padding: 0;
            line-height: 50px;
            margin-top: 2rem;
            &:hover {
                opacity: 1;
                cursor: pointer;
                font-size: 1.125rem;
            }
        }
    }
}

//------------------------ custom styles for pages --------------------------
.wrapper-page-podiumRent,
.wrapper-page-stageConstruction,
.wrapper-page-turnstile {
    .text-default {
        margin-top: 1rem;
        text-indent: 1.5rem;
    }
}

//-------------------------- popup styles ---------------------------------
.wrapper-page-screenConstruction,
.wrapper-page-stageConstruction,
.wrapper-page-turnstile {
    .popup {
        .img-fluid {
            cursor: pointer !important;
        }
    }
    .showPopup {
        z-index: 999;
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }
        .img-show {
            width: 700px;
            height: auto;
            max-width: 90%;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            padding: 20px;
            border-radius: 0.5rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        span {
            position: absolute;
            top: 3px;
            right: 3px;
            cursor: pointer;
            .close-icon {
                width: 1.25rem;
                height: 1.25rem;
                background: url('../images/close-icon.png');
            }
        }
    }
}

// ------------------- table styles --------------------
.table-striped {
    margin-top: 1rem;
    thead {
        th {
            color: #fff;
            font-size: 1rem;
            font-family: 'SourceSansPro-Bold';
            text-transform: uppercase;
            background: #4267b2;
        }
        th{
            vertical-align: middle !important;
        }
        th:last-child {
            width: 80px;
        }
    }
    tbody {
        tr {
            color: #fff !important;
            font-family: 'SourceSansPro-Regular';
        }
        tr:nth-of-type(odd) {
            background: #2d2a31 !important;
        }
        td{
        vertical-align: middle;
        }
        td:last-child {
            width: 80px;
        }
    }
}

.image {
    padding-top: 15px;
    padding-bottom: 15px;
    .img-fluid {
        border-radius: 0.5rem;
    }
}

//------------------- button for back navigation ---------------------
.btn-default {
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    font-family: 'SourceSansPro-Regular';
    cursor: pointer;
    &:focus {
        box-shadow: 0 0 0 0px rgba(2, 117, 216, .25) !important;
        outline: none !important
    }
}

//--------------- global styles for elements on focus ----------------
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

//---------------- carousel styles ----------------------------------

.carousel-item.active{
    border: none !important;
}


