extends ../shared/site

block vars
  - var keywords = ''
  - var description = ''
  - var title=''

block content
    .wrapper-page.wrapper-page-riderLight
        .wrapper.container-fluid
            .row-fluid
                h1.text-center.title Професійне світлове обладнання в оренду 
                .gradient-line
                h2.head Світловий технічний райдер
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th(colspan="2") Світлові динамічні прилади
                    tbody
                        tr
                            td Moving head Spot Led
                            td 8 шт
                        tr
                            td Moving head Led Wash
                            td 12 шт
                        tr
                            td Moving head LedZoomWash
                            td 8 шт
                        tr
                            td Moving head Beam200
                            td 6 шт
                        tr
                            td Moving head BeamSpot
                            td 16 шт
                        tr
                            td Moving head YING WEI 575 spot 
                            td 10 шт
                        tr
                            td Moving head YING WEI 575 Wash
                            td 20 шт
                        tr
                            td Deliya (Пушка)   1200Wt
                            td 2 шт
                        tr
                            td Промінь (Пушка) 575Wt
                            td 2 шт
                        tr
                            td FollowSpot 16R 
                            td 2 шт
                    thead
                        tr
                            th(colspan="2") Світлові статичні прилади
                    tbody
                        tr
                            td Color Robe 575
                            td 10 шт
                        tr
                            td Led Par EuroLite 56 (36х3Wt)
                            td 40 шт
                        tr
                            td Led Par EuroLite 64 (36x3Wt)
                            td 20 шт
                        tr
                            td Par EuroLite 64
                            td 10 шт
                        tr
                            td Blinder EuroLite (8x650Wt)
                            td 8 шт
                        tr
                            td Blinder EuroLite (4x650Wt)
                            td 8 шт
                        tr
                            td Лампа студійна  PL-L55-2
                            td 4 шт
                        tr
                            td Лампа студійна  PL-L55-4
                            td 8 шт
                    thead
                        tr
                            th(colspan="2") Пульти керування
                    tbody
                        tr
                            td Chamsys mq40n
                            td 1 шт
                        tr
                            td PC system Sunlite Suite
                            td 1 шт
                        tr
                            td DMX  Operator (192channel)
                            td 6 шт
                        tr
                            td Dimer pack EuroLite (6X4kWt) 512 channel
                            td 3 шт
                        tr
                            td Dimer pack YELLOW (12X4kWt) 512 channel
                            td 4 шт
                    thead
                        tr
                            th(colspan="2") Cвітлові та інші ефекти
                    tbody
                        tr
                            td Fire Big Lite
                            td 4 шт
                        tr
                            td Strobo EuroLite (1500wt)
                            td 6 шт
                        tr
                            td Foger Antari 1500Wt (генератор диму)
                            td 4 шт
                        tr
                            td Euro DJ Hazer 500 (генератор туману)
                            td 2 шт
                        tr
                            td Fan Stage (вентилятор сценічний)
                            td 6 шт
                    thead
                        tr
                            th(colspan="2") Елементи підвісу
                    tbody
                        tr
                            td Таль ручна 2т 
                            td 12 шт
                        tr
                            td Ферма підвісна TAF 30/30 2m
                            td 20 шт
                        tr
                            td Ферма вертикальна
                            td 10 шт
                        tr
                            td Рухоме поворотне з'єднання ферм
                            td 8 шт
                p.text-default 
                    | за більш детальною інформацією звертайтесь 
                    span 0672756545 
                    |або 
                    a.link.contactlink(href="/#contact") Наші контакти
                h3
                    a.link(href="/services/light/76.html") Дискотечне обладнання
                h4.text-warning Пофесійний звук та світло для дискотек та банкетів
                hr(style="background: #fff")
                h3
                    a.link(href="/services/light/77.html") Концертне світлове обладнання
                h4.text-danger Прокат сценічного світла
                hr(style="background: #fff")
                h3
                    a.link(href="/services/light/78.html") Лазерне шоу
                h4.text-info Лазерні еффекти
                hr(style="background: #fff")
            .row-fluid
                button.btn.btn-default(onclick="goBack()") Повернутись